<head>
        <%- include('head'); %>
</head>
<body> 
    <div class="mt-7 container">
        <h1 class="text-dr-br">WELCOME TO THE ADMIN PANEL</h1>
        <h3> if you wish to log out, <a href="/logout" class="btn btn-bl">click here</a></h3>
    </div>
    <div class="mb-5 mt-7 container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <h4 class="mt-5 text-dr-br text-center">View contact</h4>
                <div class="text-center">
                    <a class="btn btn-bl" href="/contact_list">Manage messages</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <h4 class="mt-5 text-center text-dr-br">Product view</h4>
                <div class="text-center">
                    <a class="btn btn-bl" href="/product_list">Manage products</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                    <h4 class="mt-5 text-dr-br text-center">View employees</h4>
                    <div class="text-center">
                        <a class="btn btn-bl" href="/employee_list">Manage employees</a>
                    </div>
                </div>
        </div>        
    </div>
</body>