<head>
        <%- include('head'); %>
</head>
<body> 
    <div class="mt-7 container">
        <h3 class="text-dr-br">Contact view</h3>
        <a class="text-dr-br" href="/admin"><i class="fas fa-arrow-left"></i> Back to Admin</a>
        <div class="row mt-5">
            <div class="col-lg-8 col-md-8 col-sm-8"><h4 class="text-dr-br">Messages</h4></div>
        </div>

        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Subject</th>
                <th scope="col">Date Recieved</th>
                <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(function(message){ %>
                    <%- include('contact_table', message); %>
                <% }); %>
            </tbody>
        </table>
    </div>

    <script src="https://kit.fontawesome.com/7ce695a48c.js" crossorigin="anonymous"></script>
</body>