<div class="col-lg-2 col-md-2 col-sm-2 mt-3">
    <div class="card" style="height: 100%">
        <img class="card-img-top img-fluid " src="<%= pathToImg %>" alt="Card image cap">
        <div class="card-body">
            <p class="text-dr-bl text-center"><%= name %></p>
            <p class="card-text text-center"><%= jobTitle %></p>
        </div>
    </div>
</div>