<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h5 class="display-5 text-dr-br">Koala LLC</h5>
        </div>
        <div class="col-lg-2">
            <p class="text-center text-dr-br">Contact us</p>
            <p><i class="fas fa-phone-alt text-lg-br"></i> +41 72 727 73 21</p> 
            <p><i class="far fa-envelope text-lg-br"></i> abc@mail.com</p>
        </div>
        <div class="col-lg-2">
            <p class="text-center text-dr-br">Stuff</p>
            <p><a href="about.html" class="text-gr">About us</a></p>
            <p><a href="news.html" class="text-gr" >News</a></p>       
        </div>
        <div class="col-lg-4">
            <form>
                <div class="form-group">
                    <p class="text-dr-br text-center">Subscribe to our news letter?</p>
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <button type="submit" class="btn btn-bl">Subscribe</button>
            </form>  
        </div>
    </div>
</div>