<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name = "author" content="Trinh Le Hoang Minh">
<title><%= title %></title>

<!-- Local css-->
<link href="../css/local.css" rel="stylesheet" type="text/css">

<!-- Bootstrap-->
<link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../css/bootstrap.min.css">

<!-- Google fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">