<div class="container">

    <a class="navbar-brand btn-main btn-nav" href="/"><h1 class="text-dr-br">Koala</h1></a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
            <li class="nav-item active">
                <a class="nav-link btn-main btn-nav text-dr-br"style="font-size: 20px" href="/">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-main btn-nav text-dr-br" style="font-size: 20px" href="/product">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-main btn-nav text-dr-br" style="font-size: 20px" href="/about">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-main btn-nav text-dr-br" style="font-size: 20px" href="/contact">Contact us</a>
            </li>
        </ul>
    </div>
</div>