
<div class="col-lg-4 col-md-6 col-sm-12 mt-3 slide">
    <div class="card" style="height: 100%">
        <img class="card-img-top img-fluid" src="<%= pathToImg %>" alt="Card image cap">
        <div class="card-body">
            <h4 class="text-dr-bl"><b><%= title %></b></h4>
            <p class="card-text"><%= description %></p>
            <a href="/product_view?id=<%=id%>" class="btn-main btn-bl">More</a>
        </div>
    </div>
</div>